@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/background-with-text.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 30px 5%;
    color: #FFF;
}

/*
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/background.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    padding: 30px 5%;
    color: #FFF;
}*/

.hero{}

.hero h3{
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
}

.hero h1 span{
    color: orange;
}

.hero h1{
    margin-top: 30px;
    font-size: 50px;
    color: #FFF;
}

.hero p{
    margin: 10px 0 50px;
}

.color-button {
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    background-color: #ccc; /* Initial color */
    transition: background-color 0.3s;
}

/* Hover effect */
.color-button:hover {
    background-color: blue; /* Blue when hovered over */
    color: white;
}

/* Click effect */
.color-button:active {
    background-color: yellow; /* Yellow when clicked */
    color: black;
}

/* Informational text styling */
.info-text {
    margin: 5px 0 15px 0;
    font-size: 16px;
    color: #FFF;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 5px;
}

.custom-link{
    font-size: 20px;
    color: red;
}


label {
    display: flex;
    align-items: center;
}

form{
    background: none;
    display: block;
    width: fit-content;
}

form input[type="text"]{
    border: 50;
    outline: ridge;
    padding: 10px 20px;
    height: 70px;
    width: 400px;
    font-size: 22px;
}

form input[type="email"]{
    border: 50;
    outline: ridge;
    padding: 10px 20px;
    height: 70px;
    width: 400px;
    font-size: 22px;
}

form input[type="checkbox"]{
    border: 0;
    outline: ridge;
    padding 10px 20px;
    height: 40px;
    width: 40px;
    font-size: 16px;
    accent-color: #00ff00;
}

form input[type="button"]{
    border: 0;
    outline: ridge;
    height: 120px;
    width: 150px;
    cursor: pointer;

span{
    color: #61b752;
    margin-top: 10px;
    display: block;
}
